.Login {
    background-color: #fff;
    width: 100%;
    
}
.topLogoDiv {
    margin:0.5rem;
    height : 10%;
}

.topLogoDiv img {
    width : 20%;
}

.contentsDiv {
    color : #cbc693;
    height : 70%;
    text-align: center;
    margin-top : 10%;
}

.contentsDiv img {
    width:70%;
    color : #cbc693;
    /* filter: invert(50%); */
}

.contentsDiv p {
    font-size: x-large;
    font-weight: bold;
}

.submitDiv {
    height : 20%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:stretch;
    /* background-color:#ffd378; */

    width:90%;
    margin:auto;
}

.logoTitle {
    text-align: center;
}
.logoTitle>p {
    display:flex;
    flex-direction: column;
}
.logoTitle>p>span:nth-child(1){
    font-size: x-small;
    text-align:left;
    margin-top:-1rem;
    margin-left:4rem;
    font-weight: bolder;
}
.logoTitle>p>span:nth-child(2){
    font-size: xx-large;
    font-weight: bolder;
    /* background-color:blue; */
    color:#fab003;
}
.logoTitle>p>span:nth-child(3){
    font-size: x-large;
    font-weight: bolder;
}

#loginID {
    border:none;
    text-align: center;
    border : solid #fab003 2px;
    margin : 0.5rem 2rem 0 2rem;
    padding : 1rem 0 1rem 0;
}
#loginName {
    margin : 0.5rem 2rem 0.5rem 2rem;
    padding : 1rem 0 1rem 0;
    border:none;
    text-align: center;
    border : solid #fab003 2px;
}
#doLoginBtn {
    padding : 1.5rem 0 1.5rem 0;
    border : none;
    border-radius: 1rem;
    background-color : #fab003;
    /* background-color : #FFF; */
    font-size: large;
    font-weight: bolder;
    color : #000;
    width:85%;
    margin:auto;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-shadow: 1px 1px 1px 1px gray;
}
#docatalogBtn>span:nth-child(1) {
    font-size: large;
    font-weight: bold;
}
#docatalogBtn {
    text-align: center;
    padding : 1rem 0 1rem 0;
    border : none;
    border-radius: 1rem;
    background-color : #fa6603;
    /* background-color : #FFF; */
    color : #000;
    width:85%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-shadow: 1px 1px 1px 1px gray;

}
#docatalogBtn>span:nth-child(2) {
    font-weight: lighter;
    font-size: x-small;
}
.loginBtnDiv {
    width:90%;
    margin:auto;
    position:relative;
    /* left:50%; */
}
.catalogBtnDiv {
    width:90%;
    margin:auto;
    position:relative;
}
.catalogBtnDiv>img {
    width:8%;
    position:absolute;
    bottom:10%;
    right:10%;
}

.loginBtnDiv>img {
    width:8%;
    position:absolute;
    bottom:10%;
    right:10%;
    transform: rotate(-45deg);
}
.subInfoDiv {
    width:90%;
    margin:auto;
}
.subInfoDiv>ol {
    /* list-style:none; */
    font-size:small;
    font-weight: bold;
    margin-left:1rem;
}