.Login {
    background-color: #fff;
    width: 100%;
    
}
.topLogoDiv {
    margin:0.5rem;
    height : 10%;
}

.topLogoDiv img {
    width : 20%;
}

.contentsDiv {
    color : #cbc693;
    height : 70%;
    text-align: center;
    margin-top : 10%;
}

.contentsDiv img {
    width:70%;
    color : #cbc693;
    /* filter: invert(50%); */
}

.contentsDiv p {
    font-size: x-large;
    font-weight: bold;
}

.submitDiv {
    height : 20%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:stretch;
    background-color:#d3e9f4;
    border-radius: 1rem 1rem 0 0;
    width:90%;
    margin:auto;
}

.logoTitle {
    text-align: center;
}
.logoTitle>p{
    font-size: x-large;
    font-weight: bolder;
    margin-top:-0.5rem;
}

.logoTitle>p>span{
    font-size: xx-large;
    font-weight: bolder;
    color:#318DFC;
}
#loginID {
    border:none;
    text-align: center;
    border : solid #738791 2px;
    margin : 0.5rem 2rem 0 2rem;
    padding : 1rem 0 1rem 0;
}
#loginName {
    margin : 0.5rem 2rem 0.5rem 2rem;
    padding : 1rem 0 1rem 0;
    border:none;
    text-align: center;
    border : solid #738791 2px;
}
#doLoginBtn {
    padding : 1.5rem 0 1.5rem 0;
    border : none;
    border-radius: 0 0 1rem 1rem;
    background-color : #a2b7c1;
    font-size: x-large;
    font-weight: bolder;
    color : #FFF;
    width:100%;
    margin:auto;
}
.loginBtnDiv {
    width:90%;
    margin:auto;
}


