
input[id*="question"] {
    display:none;
}
input[id*="answer"] {
    display:none;
}
input[id*="question"]+label {
    display:block;
    padding:20px;
    border:none;
    color:#000;
    font-weight:900;
    background:#fab003;
    cursor:pointer;
    position:relative;
}
input[id*="question"] + label + div {
    max-height:100%;
    /* transition:all 0.5s; */
    overflow:hidden;
    /* background:#ebf8ff; */
    font-size: 1rem;
}
.answer {
    display:flex;
    flex-direction: column;
}
input[name*="answer"] + label {
    display:block;
    padding:20px;
    border:1px solid #ffd378;
    color:#000;
    font-weight:900;
    background:#FFF;
    cursor:pointer;
    position:relative;
}
input[name*="answer"]:checked + label {
    border:1px solid #ffd378;
    color:#000;
    font-weight:900;
    background:#ffd378;
}
.buttonSet {
    width:100%;
    text-align: center;
    margin-top:1rem;
}
.buttonSet>button {
    border:none;
    padding : 1rem;
    width:80%;
    background-color : #fab003;
    color:#000;
    font-weight:900;
    border-radius: 1rem;
    font-size: 1.2rem;
    box-shadow: 1px 1px 1px 1px gray;
}
.clothImgView {
    width:100vw;
}
.clothImgView>img {
    width:100%;
}
label[for*=question]>span:nth-child(2) {
    font-size:small;
    font-weight: normal;
    margin-left:1rem;
}
.genderDiv {
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top : 1rem;
}
.genderDiv>button {
    padding:1rem;
    border:none;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: #fa6603;
    border-radius: 1rem;
    color:#FFF;
}
.clothDiv {
    width:100%;
    margin-top : 1rem;
    display:none;
}
.clothDiv>img {
    width:100%;
}